<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992090844900-3q8o5tvdavleds11pnufjrk50tu1t97c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992090844900-3q8o5tvdavleds11pnufjrk50tu1t97c</string>
	<key>API_KEY</key>
	<string>AIzaSyBfawPp6fh7ixrzCDt7ZNf69OZU-Czjgmo</string>
	<key>GCM_SENDER_ID</key>
	<string>992090844900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashfleetAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>dashfleet-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>dashfleet-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992090844900:ios:05478b8987955d5f6b46f1</string>
</dict>
</plist>